
/*******************Estilos en HTML*******************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: "Montserrat";
    src: url();
}

@font-face {
    font-family: "milove";
    src: url('fuentes/milove.otf');
    }

@font-face {
    font-family: "FontAwesome";
    src: url('fontawesome-webfont.woff');
}

    
*{
    line-height: 1.5;
    margin:0cm;
}

h1{
    font-family: milove;
    color:#ffffff;
    font-size:350%;
    text-align: center;
}

h2{
    font-family: Cambria;
    color:#5BB0A7;
    size: 48px;
    text-align: center;
}


h3{
    font-family: Montserrat;
    color:#5BB0A7;
    font-size:20 px;
    text-align: center;
    margin-bottom: 30px;
}

.blanco, div.col30 h4{
    color:#ffffff;
}


h4{
    font-family: Montserrat;
    font-weight: 800;
    color:#595959;
    font-size:18 px;
}

p, li, td, .texto {
    font-family: Montserrat;
    color:#595959;
}

h2 + p{
    font-family: Montserrat;
    color:#595959;
    text-align: center;
}

big{
    font-weight: 500;
}
/*Fuente pequeña utilizando una clase*/
.small{
    font-size:12px;
}

/*Fuente cursiva una clase*/
.cursiva{
    font-style:italic;
}

/*Fuente alineada a la derecha una clase*/
.derecha{
    text-align:right;
}

/*******Fondos************/

.bg-blanco{
    background-color: #ffffff;
    padding: 3%;
}

.bg-gris{
    background-color: #E6E7E9;
    padding: 3%;
}

/****** Estética de los botones *****/
.boton, nav li a{
    border: 1px solid #AA8A7B;
    background-color: #F2EDEA;
    text-decoration: none;
    width: 120px;
    font-family: Montserrat;
    font-weight: bold;
    color: #AA8A7B;
    text-align: center;
    padding: 20px 20px;
    margin:0;
    display: block;
}

nav ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin:0;
    width: 100%;
}

/*Cambia el formato de los botones de la barra de navegación
cuando se pasa el cursor sobre ellos*/
a:hover {
    cursor: pointer;
    background-color: #5BB0A7;
    color: #ffffff;
}

nav#barra {
    
    position:sticky;
}

/************************* GRID *************************/
/*1º: creamos el contenedor grid de toda la pag*/
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap:0;
    justify-items: stretch;
    align-items:stretch;
}
/*2º: aplicamosla clase item-grid a los principales elementos
para crear la estructura: header, barra, main y footer*/
.grid .item-grid{
    border:1px dotted greenyellow;  /*BORRAR*/
}

/*3º: indicamos las áreas de cada elementos principal*/
.item-grid#header{
    grid-column: 1/5;
    min-height: 100vh; /*ocupa toda la pantalla */
}
.item-grid#main{
    grid-column: 2/4;
    grid-row-start: 2;
}
.item-grid#barra{
    grid-column: 4/5;
}
footer.item-grid{
    grid-column: 1/5;
}

/*4º:Trabajamos grid en cada elemento principal*/

/*ELEMENTO HEADER*/

/*Creamos cuadrícula en el header*/
header.nested-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background:rgba(91, 164, 176,0.75);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*contenedor con el nombre y título*/
header .contenedor-txt{
    grid-column: 2/4;
    grid-row: 2/3;
}

/*posicionamos el boton hola*/
header .boton{
    grid-column: 4/5;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
}


/*ELEMENTO NAV*/

/*posicionamos la barra*/
nav{
    display:inline-grid;
    justify-content: center;
}



/*ELEMENTO MAIN*/
    
/*creamos una cuadricula para todo el main con 6 col*/
main.nested-grid{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "perfil perfil perfil perfil perfil perfil"
        "experiencia experiencia experiencia experiencia experiencia experiencia"
        "formacion formacion formacion formacion formacion formacion"
        "habilidades habilidades habilidades habilidades habilidades habilidades"
        "proyectos proyectos proyectos proyectos proyectos proyectos"
        "referencias referencias referencias referencias referencias referencias"
        "contacto contacto contacto contacto contacto contacto"
}

/*Indicamos el nombre de cada grid area*/
section#perfil{
    grid-area: perfil;
}
section#experiencia{
    grid-area: experiencia;
}
section#formacion{
    grid-area: formacion;
}
section#habilidades{
    grid-area: habilidades;
}
section#proyectos{
    grid-area: proyectos;
}
section#referencias{
    grid-area: referencias;
}
section#contacto{
    grid-area: contacto;
}

/********** PERFIL ********/
/*creamos una cuadricula para todo el perfil con 6 col*/
#contenedor-perfil{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 2%;
    margin:20px 0;
    align-items:start;
}
/*indicamos el area de cada item*/
#aboutme-cont{
    grid-column: 1/3;
    display: grid;
}
#thisisme-cont{
    grid-column: 3/5;
    align-self: center;
}
#detalles-cont{
    grid-column: 5/7;
    display: grid;
}

/*Formato de la foto*/
#mi-foto {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 90%;
    display:block;
    margin: auto;
}

/********** EXPERIENCIA Y FORMACIÓN ********/

/*contenedor grid de la experiencia/formación*/
.contenedor-30-70{
    display:grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: minmax(150px, auto);
    align-content: stretch; 
    width:100%;
    margin:20px 0;
    row-gap: 3em;
}


/*primera columna*/
div.col30{
    display:grid;
    align-content: stretch;
    align-items: center;
    justify-content: start;
    background-color: rgb(91,176,167, 0.4);
    width: 95%;
    padding: 2%;
}

div.col30 p{
     width: 100%; 
}

/*segunda columna*/
div.col70{
    display: grid;
    justify-items: center;
    align-items: stretch;
    width: 92%;
    padding: 3%;
}

/********** HABILIDADES ***********/


/*creamos la  cuadricula que envuelve todas las habilidades
y estasa salen en 2 columnas*/
ul.nested-grid{
    display:grid;
    grid-template-columns: 47% 47%;
    grid grid-template-areas: 
                            "storyline photoshop"
                            "illustrator css"
                            "html js"
                            "mysql java"
                            "jira ingles"
                            ; 
    list-style: none;/*Quitarle el puntito de la viñeta a las ul*/
    padding: 2%;
    gap:5%;
    margin: 6% 0; /*superior e inferior solo*/
}

/*nombre de las areas*/
li#h-storyline{
    grid-area: storyline;
    grid-column:1/2;
    grid-row:1/2;
}
li#h-Photoshop{
    grid-area: photoshop;
    grid-column:2/3;
    grid-row:1/2;
}
li#h-illustrator{
    grid-area: illustrator;
    grid-column:1/2;
    grid-row:2/3;
}
li#h-CSS{
    grid-area: css;
    grid-column:2/3;
    grid-row:2/3;
}
li#h-html{
    grid-area: html;
    grid-column:1/2;
    grid-row:3/4;
}
li#h-JS{
    grid-area: js;
    grid-column:2/3;
    grid-row:3/4;
}
li#h-MySQL{
    grid-area: mysql;
    grid-column:1/2;
    grid-row:4/5;
}
li#h-Java{
    grid-area: java;
    grid-column:2/3;
    grid-row:4/5;
}
li#h-jira{
    grid-area: jira;
    grid-column:1/2;
    grid-row:5/6;
}
li#h-ingles{
    grid-area: ingles;
    grid-column:2/3;
    grid-row:5/6;
}

/*Formatos de las barritas*/

/*barrita de base que representa el 100% de la habilidad*/
.porcentaje-total{
    position: relative;
    width: 100%;
    height: 6px;
    background: #ffffff;
    display: block;
    margin-bottom:15px;
}

/*barrita que representa el % adquirido de la habilidad*/
.porcentaje{
    position: absolute;
    top: 0;
    left: 0;
    background: #5BB0A7;
    height: 100%;
    margin-bottom:15px;
}

span {
    display:inline-block;
}

/********** PROYECTOS ***********/
.project img{
    width: 100%;
}

/*Contenedor de todos los proyectos*/
#proyectos .nested-grid{
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 1fr;
    gap:3%;
    margin:3% 0;
    padding: 0 0 4% 0;
    /* border:coral solid 1px; BORRAR*/
}

/*Contenedor de cada proyecto*/
div.project.contenedor{
    display: grid;
    /*border:blue solid 1px; BORRAR*/
   /*  grid-template-rows: 50% repeat(2 25%); */
    align-content: stretch;
}

/********** REFERENCIAS ***********/
/* caract por defecto de las imagenes*/
#referencias-ref img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 5%;
}

/*Apariencia de las cajitas de texto*/
.txt-ref{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5%;
    background-color: #ffffff;
}

/*contenedor grid de las referencias*/
#referencias .contenedor-70-30{
    display:grid;
    grid-template-columns: 70% 30%;
    grid-auto-rows: minmax(150px, auto);
    align-content: stretch; 
    margin:20px 0;
    row-gap: 3em;
}

/*Contenedor de los txt de referencias*/
#referencias div.col30{
    display:grid;
    align-items: baseline;
    justify-items: end;
    justify-content: start;
    align-content: center;
    background-color: rgb(91,176,167, 0.4);
    width: 95%;
    padding: 2%;
}

div.col30 p{
     width: 100%; 
}


/********** FORM CONTACTO ***********/

/*disposición de los elementos*/
form.nested-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    
    grid-template-areas:
        "nombre email"
        "mensaje mensaje"
        "privacidad enviar"
    ;
    grid-gap: 1em;
}
/*Indicamos el nombre de cada grid area*/
input#nombre{
    grid-area: nombre;
}
input#email{
    grid-area: email;
}
textarea#mensaje{
    grid-area: mensaje;
}
div#cont-privacidad{
    grid-area: privacidad;
}
input#submit{
    grid-area: enviar;
}


input#nombre, input#email{
    font-family: Montserrat;
    color:#595959;
    padding: 1.2em 1.2em;
    background-color: rgba(91, 176, 167, 0.4);
    border: none;
}

/*El formato y disposición del campo mensaje es diferente*/
#mensaje {
    font-family: Montserrat;
    color:#595959;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    background-color: rgba(91, 176, 167, 0.4);
    padding: 1.2em 1.2em;
    border: none;
    resize:none;
}    

/*deje un espacio entre la linea sueprior y el form*/
form{
    margin-top:2%
}


/*checkbox de privacidad*/
#privacidad{
    background-color: rgba(91, 176, 167, 0.4);
    border: none;
} 

    
/*Boton de enviar*/
input[type=submit] {
    font-family: Montserrat;
    font-weight: bold;
    display: block;
    color: #AA8A7B;
    border: 1px solid #AA8A7B;
    text-decoration: none;
    text-align: center;
    width: 100px;
    background-color: #F2EDEA;
    height: 30px;
    align-self: center;
    justify-self: end;
}


/*******************MEDIA QUERIES*******************/


@media (max-width: 1300px) {
    /*Cuando se reduce el tamaño del navegador
    las columnas laterales se reducen*/
    .grid{
        display:grid;
        grid-template-columns: 1fr 15fr 1fr;

    }

    /*la ubicacion del booton inicial cambia*/
    header .boton{
        grid-column: 4/5;
        grid-row: 3/4;
        justify-self: end;
        align-self: end;
    }
    /*la ubicacion del main cambia*/
    .item-grid#main{
        grid-column: 2/3;
        grid-row-start: 2;
    }
    /*cambiamos la ubicacion de los txt e imagen del perfil*/
    #contenedor-perfil {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "aboutme foto"
        "detalles detalles"
        ;
    }

    /*cambios de ubicacion en la seccion perfil*/
    #aboutme-cont{
        display: block;
    }

    #detalles-cont{
        margin-top: 2%;
    }

    #detalles{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 5%;
    }

    /*Indicamos el nombre de cada grid area
    para poder cambiarles la posicion*/
    div#aboutme-cont{
        grid-area: aboutme;
    }
    div#detalles-cont{
        grid-area: detalles;
    }
    div#thisisme-cont{
        grid-area: foto;
    }
    
}



@media (max-width: 680px) {
/*El boton inicial y la barra desaparece*/
#barra, a.boton {
    display: none;
}




/*En dispositivo móvil*/
@media (max-width: 500px) {
    
    /* se reducen los espacios de los lados en el header*/
    header.nested-grid {
        grid-template-rows: 0.5fr 1fr 0.5fr;
    }

    /*En el perfil, cada elemento aparece en una fila*/
    #contenedor-perfil{
        display:inline-grid;
        grid-auto-rows: auto;
        row-gap: 0;
        grid-template-columns: 1fr;
        grid-template-areas:
        "foto"
        "aboutme"
        "detalles"
        ;
    }

    /*la formación/experiencia aparece en una columna*/
    .contenedor-30-70{
        display:inline-grid;
        grid-template-columns: 100%;
        grid-auto-rows: auto;
        row-gap: 0;
    }
    div.col70{
        margin-bottom: 15%;
    }

    /*nombre e email en filas unicas*/
    form.nested-grid {
        grid-template-areas:
            "nombre nombre"
            "email email"
            "mensaje mensaje"
            "privacidad enviar"
        ;
    }




}
}