
/*******************Estilos en HTML*******************/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: "Montserrat";
    src: url();
}

@font-face {
    font-family: "milove";
    src: url('fuentes/milove.otf');
    }

@font-face {
    font-family: "FontAwesome";
    src: url('fontawesome-webfont.woff');
}

    
*{
    line-height: 1.5;
    margin:0cm;
}

h1{
    font-family: milove;
    color:#ffffff;
    font-size:350%;
    text-align: center;
}

h2{
    font-family: Cambria;
    color:#5BB0A7;
    size: 48px;
    text-align: center;
}


h3{
    font-family: Montserrat;
    color:#5BB0A7;
    font-size:20 px;
    text-align: center;
    margin-bottom: 30px;
}

.blanco, div.col30 h4{
    color:#ffffff;
}


h4{
    font-family: Montserrat;
    font-weight: 800;
    color:#595959;
    font-size:18 px;
}

p, li, td, .texto {
    font-family: Montserrat;
    color:#595959;
}

h2 + p{
    font-family: Montserrat;
    color:#595959;
    text-align: center;
}

big{
    font-weight: 500;
}

/*Fuente cursiva una clase*/
.cursiva{
    font-style:italic;
}

/*Fuente alineada a la derecha una clase*/
.derecha{
    text-align:right;
}

/*******Fondos************/

.bg-blanco{
    background-color: #ffffff;
    padding-top: 3%;
    padding-bottom: 3%;
}

.bg-gris{
    background-color: #E6E7E9;
    padding: 3%;
}

/****** Estética de los botones *****/
.boton, nav li a{
    border: 1px solid #AA8A7B;
    background-color: #F2EDEA;
    text-decoration: none;
    width: 120px;
    font-family: Montserrat;
    font-weight: bold;
    color: #AA8A7B;
    text-align: center;
    padding: 20px 20px;
    margin:0;
    display: block;
}

nav ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin:0;
    width: 100%;
}

/*Cambia el formato de los botones de la barra de navegación
cuando se pasa el cursor sobre ellos*/
a:hover {
    cursor: pointer;
    background-color: #5BB0A7;
    color: #ffffff;
}

nav#barra {
    
    position:sticky;
}

/************************* GRID *************************/
/*1º: creamos el contenedor grid de toda la pag*/
.grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap:0;
    justify-items: stretch;
    align-items:stretch;
}
/*2º: aplicamosla clase item-grid a los principales elementos
para crear la estructura: header, barra, main y footer*/
.grid .item-grid{
    
    border:1px dotted greenyellow;  /*BORRAR*/
}

/*3º: indicamos las áreas de cada elementos principal*/
.item-grid#header{
    grid-column: 1/5;
    min-height: 100vh; /*ocupa toda la pantalla */
}
.item-grid#main{
    grid-column: 2/4;
    grid-row-start: 2;
}
.item-grid#barra{
    grid-column: 4/5;
}
footer.item-grid{
    grid-column: 1/5;
}

/*4º:Trabajamos grid en cada elemento principal*/

/*ELEMENTO HEADER*/

/*Creamos cuadrícula en el header*/
header.nested-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background:rgba(91, 164, 176,0.75);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*contenedor con el nombre y título*/
header .contenedor-txt{
    grid-column: 2/4;
    grid-row: 2/3;
}

/*posicionamos el boton hola*/
header .boton{
    grid-column: 4/5;
    grid-row: 3/4;
    justify-self: center;
    align-self: end;
}


/*ELEMENTO NAV*/

/*posicionamos la barra*/
nav{
    display:inline-grid;
    justify-content: center;
}



/*ELEMENTO MAIN*/
    
/*creamos una cuadricula para todo el main con 6 col*/
main.nested-grid{
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "perfil perfil perfil perfil perfil perfil"
        "experiencia experiencia experiencia experiencia experiencia experiencia"
        "formacion formacion formacion formacion formacion formacion"
        "habilidades habilidades habilidades habilidades habilidades habilidades"
        "proyectos proyectos proyectos proyectos proyectos proyectos"
        "referencias referencias referencias referencias referencias referencias"
        "contacto contacto contacto contacto contacto contacto"
}

/*Indicamos el nombre de cada grid area*/
section#perfil{
    grid-area: perfil;
}
section#experiencia{
    grid-area: experiencia;
}
section#formacion{
    grid-area: formacion;
}
section#habilidades{
    grid-area: habilidades;
}
section#proyectos{
    grid-area: proyectos;
}
section#referencias{
    grid-area: referencias;
}
section#contacto{
    grid-area: contacto;
}


/********** EXPERIENCIA ********/

/*contenedor grid de la experiencia*/
.contenedor-30-70{
    display:grid;
    grid-template-columns: 30% 70%;
    align-content: stretch; 
    width:100%;
    margin:20px 0;
    row-gap: 3em;
}


/*primera columna*/
div.col30{
    display:grid;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    background-color: rgb(91,176,167, 0.4);
    width: 95%;
    padding: 2%;
}

div.col30 p{
     width: 100%; 
}

/*segunda columna*/
div.col70{
    display: grid;
    justify-items: center;
    width: 92%;
    padding: 3%;
}


/********** FORM CONTACTO ***********/

/*disposición de los elementos*/
form.nested-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "nombre email"
        "mensaje mensaje"
        "privacidad enviar"
    ;
    grid-gap: 1em;
}
/*Indicamos el nombre de cada grid area*/
input#nombre{
    grid-area: nombre;
}
input#email{
    grid-area: email;
}
textarea#mensaje{
    grid-area: mensaje;
}
div#cont-privacidad{
    grid-area: privacidad;
}
input#submit{
    grid-area: enviar;
}


input#nombre, input#email{
    font-family: Montserrat;
    color:#595959;
    padding: 1.2em 1.2em;
    background-color: rgba(91, 176, 167, 0.4);
    border: none;
}

/*El formato y disposición del campo mensaje es diferente*/
#mensaje {
    font-family: Montserrat;
    color:#595959;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    background-color: rgba(91, 176, 167, 0.4);
    padding: 1.2em 1.2em;
    border: none;
    resize:none;
}    

/*deje un espacio entre la linea sueprior y el form*/
form{
    margin-top:2%
}


/*checkbox de privacidad*/
#privacidad{
    background-color: rgba(91, 176, 167, 0.4);
    border: none;
} 



    
/*Boton de enviar*/
input[type=submit] {
    font-family: Montserrat;
    font-weight: bold;
    display: block;
    color: #AA8A7B;
    border: 1px solid #AA8A7B;
    text-decoration: none;
    text-align: center;
    width: 100px;
    background-color: #F2EDEA;
    height: 30px;
    align-self: center;
    justify-self: end;
}

/*Cuando se reduce el tamaño del navegador*/
@media (max-width: 1300px) {
    .grid{
        display:grid;
        grid-template-columns: 1fr 15fr 1fr;
        gap:2%;
    }

    header .boton{
        grid-column: 4/5;
        grid-row: 3/4;
        justify-self: end;
        align-self: end;
    }

    .item-grid#main{
        grid-column: 2/3;
        grid-row-start: 2;
    }
}

@media (max-width: 680px) {
#barra, a.boton {
    display: none;
}

/*En dispositivo móvil*/
@media (max-width: 500px) {
    

    header.nested-grid {
        grid-template-rows: 0.5fr 1fr 0.5fr;
    }

    
    form.nested-grid {
        grid-template-areas:
            "nombre nombre"
            "email email"
            "mensaje mensaje"
            "privacidad enviar"
        ;
}




